$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #11F4FF;
$secondary_paletteKeyColor: #547D8A;
$tertiary_paletteKeyColor: #4A7D9C;
$neutral_paletteKeyColor: #6C7A7B;
$neutral_variant_paletteKeyColor: #697A7B;
$background: #091516;
$onBackground: #D7E5E6;
$surface: #091516;
$surfaceDim: #091516;
$surfaceBright: #2F3B3C;
$surfaceContainerLowest: #041011;
$surfaceContainerLow: #111E1E;
$surfaceContainer: #152223;
$surfaceContainerHigh: #202C2D;
$surfaceContainerHighest: #2A3738;
$onSurface: #D7E5E6;
$surfaceVariant: #394A4B;
$onSurfaceVariant: #B8CACB;
$inverseSurface: #D7E5E6;
$inverseOnSurface: #263333;
$outline: #829495;
$outlineVariant: #394A4B;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00DCE6;
$primary: #00DCE6;
$onPrimary: #003739;
$primaryContainer: #004F53;
$onPrimaryContainer: #6AF6FF;
$inversePrimary: #00696E;
$secondary: #A3CDDC;
$onSecondary: #043541;
$secondaryContainer: #254E5B;
$onSecondaryContainer: #C0EBFA;
$tertiary: #9ACDEF;
$onTertiary: #00344B;
$tertiaryContainer: #6497B7;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #6AF6FF;
$primaryFixedDim: #00DCE6;
$onPrimaryFixed: #002022;
$onPrimaryFixedVariant: #004F53;
$secondaryFixed: #BFE9F8;
$secondaryFixedDim: #A3CDDC;
$onSecondaryFixed: #001F27;
$onSecondaryFixedVariant: #224C58;
$tertiaryFixed: #C6E7FF;
$tertiaryFixedDim: #9ACDEF;
$onTertiaryFixed: #001E2D;
$onTertiaryFixedVariant: #0F4C68;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0C1E1E;
$term1: #7B9C2F;
$term2: #62E0CC;
$term3: #76FCDB;
$term4: #76B5B9;
$term5: #7AAEEA;
$term6: #81D8D2;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #A1D043;
$term10: #F7FFFC;
$term11: #FFFFFF;
$term12: #BEE3E2;
$term13: #C8DAFF;
$term14: #E9FFFC;
$term15: #ADEDF3;
