[Desktop Entry]
Type=Application
Name=ML4W Hyprland Settings App
Exec=/home/ruben/.config/ml4w/apps/ML4W_Hyprland_Settings-x86_64.AppImage
Icon=/home/ruben/.config/ml4w/apps/ml4w-hyprland-settings.png
Terminal=false
Categories=Utility