$darkmode: true;
$primary: #ffb4a3;
$onPrimary: #5f1609;
$primaryContainer: #7d2c1d;
$onPrimaryContainer: #ffdad1;
$secondary: #e7bdb5;
$onSecondary: #442924;
$secondaryContainer: #5d3f39;
$onSecondaryContainer: #ffdad2;
$tertiary: #dcc48c;
$onTertiary: #3d2f05;
$tertiaryContainer: #554519;
$onTertiaryContainer: #f9e0a6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ede0dd;
$surface: #201a19;
$onSurface: #ede0dd;
$surfaceVariant: #534340;
$onSurfaceVariant: #d8c2be;
$outline: #a08c88;
$shadow: #000000;
$inverseSurface: #ede0dd;
$inverseOnSurface: #362f2d;
$inversePrimary: #9c4332;
