{:logseq-luckysheet
 {:version "v0.8.4",
  :repo "sethyuan/logseq-plugin-luckysheet",
  :effect true,
  :theme false},
 :logseq-journals-calendar
 {:version "0.10.5",
  :repo "xyhp915/logseq-journals-calendar",
  :effect false,
  :theme false},
 :logseq-copy-code-plugin
 {:version "v.1.1.2",
  :repo "vyleung/logseq-copy-code-plugin",
  :effect true,
  :theme false},
 :logseq-bullet-threading
 {:version "v1.1.0",
  :repo "pengx17/logseq-plugin-bullet-threading",
  :effect false,
  :theme false},
 :logseq-pdf-export-plugin
 {:version "2.2.6",
  :repo "sawhney17/logseq-pdf-export",
  :effect true,
  :theme false},
 :logseq-helium-plugin
 {:version "v.2.1.1",
  :repo "vyleung/logseq-helium-plugin",
  :effect true,
  :theme false},
 :logseq-readwise-official-plugin
 {:version "v1.3.7",
  :repo "readwiseio/logseq-readwise-official-plugin",
  :effect true,
  :theme false},
 :logseq-link-preview
 {:version "v2.2.9",
  :repo "pengx17/logseq-plugin-link-preview",
  :effect true,
  :theme false},
 :logseq-automatic-linker
 {:version "1.3.2",
  :repo "sawhney17/logseq-automatic-linker",
  :effect false,
  :theme false},
 :logseq-tags
 {:version "v0.1.2",
  :repo "gidongkwon/logseq-plugin-tags",
  :effect false,
  :theme false},
 :logseq-mark-map
 {:version "v0.2.9",
  :repo "vipzhicheng/logseq-plugin-mark-map",
  :effect false, 
  :theme false}
 :logseq-awesome-links {:version "v1.9.7", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-awesome-ui {:version "v1.2.12", :repo "yoyurec/logseq-awesome-ui", :effect true, :theme false}}
