[Desktop Entry]
Version=1.0
Type=Application
Name=swayosd-server
GenericName=swayosd-server
Comment=Launch swayosd-server
Icon=swayosd-server
Categories=Utils;
Exec=swayosd-server 
TryExec=swayosd-server
Terminal=false
X-GNOME-Autostart-Delay=3
